<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="../views/home.css"> -->
    <title>home</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    font-family: arial, snas-serif;
}

.nav-bar {
    background-color: #ccc6c6;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    margin: 8px 8px;
    padding: 10px;

}
.logo img{
    /* color: #f92828; */
    height: 40px;
    width: 55px;
}

.nav-links{
    display: flex;
    list-style: none;
    padding-top: -10px;
    padding-right: 300px 
}

.nav-links li{
display: inline;
margin-left: 118px;
}

.nav-links a {
    display: flex;
    /* display: inline; */
    color: #000000;
    text-decoration: none;
    margin-right: 50px;
    padding-top: 0px;
   
}

.nav-links a i {
    margin-right: 5px;
  
}

.nav-bar a:hover {
    color: #ff8800;
}

    </style>
</head>



<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/5726/5726104.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/blog"><i class="fas fa-book"></i> Blog</a></li>
            <li><a href="/register"><i class="fas fa-user-plus"></i> Signup</a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
        </ul>
    </div>
    
        
    </div>
    
</body>
</html>